
@{
    ViewBag.Title = "Ajustes";
}

    <div class="row align-items-center">

        <div class="col-md-8 ">
            <h2>Ajustes</h2>
            <form>
                <div class="form-group">
                    <label>Servidor:</label>
                    <input class="form-control" type="text" name="servidor" value="" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Conectarse</button>
                </div>
                <div NAME="buttonbar">
                    <INPUT class="bg-primary" TYPE="button" VALUE="Atrás" onClick="history.back()">
                </div>
            </form>
        </div>
    </div>