@model WebGuerrillaFrontEnd.Models.Guerrilla
<div class="row align-items-center">

	<div class="col-md-8 ">
		<h2>Bienvenidos (as)</h2>
		@using (Html.BeginForm("Perfil", "Home", FormMethod.Get))
		{

			<form action="/Home/Login/" method="post">
				<div class="form-group">
					<label>Correo o usuario</label>
					@Html.TextBoxFor(m => m.GuerrillaName, new { Class = "form-control", Required = "true"})

				</div>
				
				@{
					if (!string.IsNullOrEmpty(ViewBag.Message))
					{
						<div class="alert-danger col-md-4">
							@ViewBag.Message
						</div><br /><br />
					}
				}
			<div class="form-group">
				<button class="btn btn-default">Iniciar Sesi&oacute;n</button>
			</div>
				<div class="d-flex justify-content-center links">
					@Html.ActionLink("Registrarse", "Registrarse", "Home")
				</div>

			</form>
		}
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">

	</div>
</div>
