
@{
    ViewBag.Title = "Registrarse";
}

<div class="row align-items-center">

        <div class="col-md-8 ">
            <h2>Registrarse</h2>


            <form>
                <div class="form-group">
                    <label>Nombre de la guerrilla</label>
                    <input class="form-control" type="text" name="nombre" value="" required />
                </div>
                <div class="form-group">
                    <label>Correo</label>
                    <input class="form-control" type="correo" name="pass" value="" required />
                </div>
                <div class="form-group">
                    
                    <label for="sel1">Equipo</label>
                    <select class="form-control" id="sel1">
                        <option>China</option>
                        <option>USMC</option>
                        <option>MEC</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Registrarse</button>
                </div>
                <div NAME="buttonbar">
                    <INPUT class="bg-primary" TYPE="button" VALUE="Atrás" onClick="history.back()">
                </div>

            </form>

        </div>
        <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
</div>


